<div class="col-md-6 col-md-offset-3">
  <ul class="no-list-style center">
    <% @users.each do |u| %>
      <li class="well"><%= link_to u.display_name, profile_path(u) %></li>
    <% end %>
  </ul>
</div>
